{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<h1 class="mb-4">Liste des catégories</h1>
<ul class="list-group">
    {% for category in categories %}
        <li class="list-group-item">
            <a href="{{ path('category_show', {id: category.id}) }}">
                {{ category.nameCat }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
